/* Extra small devices (phones, 600px and down) */
:global {
  @media only screen and (max-width: 199px) {
    #logo {
      display: none
    }
  }
  @media only screen and (max-width: 600px) {
    #top-num-sign, #overview, #node_map, #blocks, #transactions {
      margin-bottom: 10px;
    }
    #blocks {
      padding-top: 10px;
    }

    #content {
      margin-left: none;
    }
    #arrow-right {
      transform:rotate(90deg);
      -ms-transform:rotate(90deg); 	/* IE 9 */
      -moz-transform:rotate(90deg); 	/* Firefox */
      -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
      -o-transform:rotate(90deg); 	/* Opera */
    }
    #gac_col {
      padding-top: 1rem;
    }
  }
  
  @media only screen and (min-width: 600px) {
    #top-num-sign, #overview, #node_map, #blocks, #transactions  {
      margin-bottom: 10px;
    }
    #blocks {
      padding-top: 10px;
    }
    #arrow-right {
      transform:rotate(90deg);
      -ms-transform:rotate(90deg); 	/* IE 9 */
      -moz-transform:rotate(90deg); 	/* Firefox */
      -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
      -o-transform:rotate(90deg); 	/* Opera */
    }
    #gac_col {
      padding-top: 1rem;
    }
  }

  @media only screen and (min-width: 768px) {
    #overview, #blocks {
      padding-right: 10px;
    }
    #node_map, #transactions {
      padding-left: 10px;
    }
    #blocks, #transactions {
      padding-top: 10px;
    }
    #arrow-right {
      transform:rotate(0deg);
      -ms-transform:rotate(0deg); 	/* IE 9 */
      -moz-transform:rotate(0deg); 	/* Firefox */
      -webkit-transform:rotate(0deg); /* Safari 和 Chrome */
      -o-transform:rotate(0deg); 	/* Opera */
    }
    #gac_col {
      padding-top: 0rem;
    }
  } 

  @media only screen and (min-width: 992px) {
    #blocks, #transactions {
      padding-top: 10px;
    }
  } 

  @media only screen and (min-width: 1200px) {
  }
}
