.transactions_R {
    margin-bottom: 1rem;
}

.t_icon {
    font-size: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

.transaction_r_c_r span, .transaction_r_c_r a {
    vertical-align: middle
}