.transaction_r_c_r div span~a {
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}

.transactions_R {
    margin-bottom: 1rem;
}

.t_icon {
    font-size: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
}