.uicomponents {
    /* padding: 0 12px; */
}

.numCard {
    padding: 32px;
    cursor: pointer;
}

.top_numbers_icon {
    float: left;
    font-size: 44px;
}


.top_numbers_icon ~ p {
    margin: 0;
    padding: 0;
    float: left;
    padding-left: 5px;
    font-size: 34px;
    font-weight: bold;
}