.numCard___1R22T{padding:2rem;cursor:pointer}.top_numbers_icon___2Sj7h{float:left;font-size:3rem}.top_numbers_title___h7hCL{font-size:1.1rem}
.blocks_left___TrXuQ{height:4rem;background-color:#777}
.transactions_R___JcRt7{margin-bottom:1rem}.t_icon___3hqqh{font-size:2rem;padding-top:1rem;padding-left:1rem}.transaction_r_c_r___2zFsp a,.transaction_r_c_r___2zFsp span{vertical-align:middle}


.over_view___1IOUY span{color:#fff}
