.ant-layout-sider {
  transition: all 0.5s;
}

 .trigger {
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color .3s;
  display: inline;
}

.trigger:hover {
  color: #1890ff;
}

.select_lang {
  float: right;
  line-height: 64px;
}

.logo {
  height: 50px;
  background: rgba(255,255,255,.2);
  margin: 16px auto;
  text-align: center;
  color: #fff;
  font-weight: bolder;
  font-size: 20px;
  line-height: 50px;
  font-family: "Montserrat";
}

.menu {
  line-height: 64px;
  background-color: #024a7c;
  font-size: 13px;
  color: #fff;
}

.header_w {
  height: 64px;
  background-color: #024a7c;
}

